[user]
	name = dlford
	email = dan-github2@dlford.co
	signingkey = 220C430A0FA6C63A8BCA928E9757291A7976BA76
[push]
	default = simple
[credential]
	helper = store
[pull]
	rebase = true
[fetch]
	prune = true
[diff]
	colorMoved = zebra
[init]
	defaultBranch = main
[commit]
	gpgsign = true
