[user]
	name = dlford
	email = dan-github2@dlford.co
[push]
	default = simple
[credential]
	helper = store
[pull]
	rebase = true
[fetch]
	prune = true
[diff]
	colorMoved = zebra
[init]
	defaultBranch = main
